<div id="profile"><!-- Profile Begin -->
  <div id="avatar">
    <img alt="Avatar" height="44" width="44" />
  </div>
  <div id="profileinfo">
    <h3 id="username">
      Welcome <%= current_user.email %></h3>
    <div class="clear"></div>
    <a href="#" class="profilebutton">Rating</a>
  </div>
</div>

