<div class="block big"><!-- Block Begin -->
  <div class="titlebar">
    <h3><%= header%></h3>
    <a href="#" class="toggle">&nbsp;</a>
  </div>
  <div class="block_cont">
    <div id="chart1" style="height:300px; width:100%;"><%= text%></div>
  </div>
</div><!-- Block End -->
