body {
	background: #363d47 url('images/background.jpg') top center no-repeat fixed;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 16px;
	color: #ffffff;
}

h2 {
 font-size: 25px;
 color: #FFFFFF;
 }
