@charset "utf-8";
body {
	margin-left: 0px;
	margin-right: 0px;
	background-image:url(background1.jpg);
	background-repeat:no-repeat;
	background-size: 100% 710px;
}

#login-box {
    margin-left: 510px;
	margin-right: 400px;
	margin-top: 150px;
	width:233px;
	height: 352px;
	padding: 78px 76px 0 40px;
	font-size: 14px;
	font-family: Verdana, Tahoma, Helvetica, Arial;
	background: url(session/login.jpg) no-repeat left top;
    background-size: 90% 350px;
}

#login-box td {
    padding: 20px 0 0 10px;
}

#login-btn {
    margin-left: 75px;
	margin-right: 400px;
	margin-top: 0px;
	
}