<div id="search"><!-- Header Search Begin -->
  <input type="text" placeholder="Search..." id="searchinput" name="search" />
  <input type="submit" id="searchbutton" name="search" />
</div><!-- Header Search End -->
