<h1> Terms And Conditions </h1>

<div>
Blah Blah Blah
</div>

<%= form_for @user, :url => validate_registration_path(params[:id]) do |f| %>
  <div class="actions"><%= f.submit "Confirm my registration" %></div>
<% end %>
