<div class="form_row">
  <p>Title</p>
  <p><%= @question.title%></p>
</div>
<div class="form_row">
  <p>Tutor</p>
  <p><%=@question.tutor.email%></p>
</div>
<div class="form_row">
  <p>Subject</p>
  <p><%= @question.subject.subject%></p>
</div>
<div class="form_row">
  <p>Description</p>
  <p> <%=@question.description%></p>
</div>
