<div>
  <table border="1">
    <tr>
      <th>Question</th>
      <th>Tutor</th>
      <th>Status</th>
    </tr>
    <%for question in @questions%>
    <tr>
      <td><%= link_to question.description, user_question_path({:user_id => current_user.id, :id => question.id})  %></td>
      <td><%= question.tutor.email %></td>
      <td><%= question.status %></td>
    </tr>
    <%end%>
  </table>
</div>
