<div>
  <p>
  <tr>Description</br>
    <td><%= @question.description  %></td></tr>
  </p> 
  <p>
  <tr>Tutor</br>
    <td><%= @question.tutor.email %></td></tr>
  </p>
  <p>
  <tr>Status</br>
    <td><%= @question.status %></td></tr>
  </p>
</div>
