<%= form_tag sessions_path do %> 
  <div id="loginbox">
    <a href="#" id="logo">EducationBeta</a>
    <div id="loginform">
      <form name="login" action="cp_main.html" method="get">
        <div id="username_field"><%= text_field_tag :email, params[:email], :class => 'required' %></div>
        <div id="password_field"><%= password_field_tag :password, nil, :class => 'required' %></div>
        <div id="buttonline">
          <%= submit_tag "Log in", :class => 'float_left width_4', :id => 'loginbutton' %>
          <a href="#" class="passforgot float_right">Forgot your password?</a>
        </div>
      </form>	
    </div>
  </div>
<% end %>
