<ul id="navigation" align="center"><!-- Main Navigation Begin -->
  <li><a href="#" class="icon_stats">Dashboard</a></li>
  <li><%= link_to 'Upload',new_user_upload_path(current_user.id), :class => "icon_users"%>
  </li>
  <li><%=link_to "My Questions", user_questions_path({:user_id => current_user.id}), :class => "icon_email" %></li>
  <li><a href="#" class="icon_folder">Edu-Catchup</a>
  <ul>
    <li><a href="#">Invite a Friend</a></li>
    <li><a href="#">Feeds From Students</a></li>	
    <li><a href="#">Students Forum</a></li>
  </ul>
  </li>
  <li><%= link_to "Logout", log_out_path, :class => "icon_logout" %></li>
</ul><!-- Main Navigation End -->

