<div class="block small"><!-- Block Begin -->
  <div class="titlebar">
    <h3><%= header%></h3>
    <a href="#" class="toggle">&nbsp;</a></div>
  <div class="block_cont">
    <div id="chart2" style="height:200px; width:140px;"><img src= "<%= report_image %>"/></div>
  </div>	
</div><!-- Block End -->
