<div class="block" style="height:150px;width:300px;padding: 0px 30px 10px 10px;"><!-- Block Begin -->
  <div class="block_cont" style="height:130px;width:300px;">
    <div id="chart1" style="height:150px;width:100px;">
      <%= form_tag password_resets_path, :method => :post, :id=>"validation_email_resend_form", :class => "form" do %>
        <div style="margin-left:2px;">
          <%= label_tag :email %></div>
        <div>  <%= text_field_tag :email, params[:email], :class => "input tipRight" %> </div>
        <%= submit_tag "Reset Password", :id => 'loginbutton' %>
      <% end %>
      <div id="chart1" class="v2_image" style="height:130px;width:130px;margin-left:4cm;margin-top:-95px;"></div>
    </div>
  </div>
</div>
